html {
  background-color: #333;
  font-size: 20px;
}

body {
  /* background-color: #333; */
}

.personal {
  margin-top: 5rem;
}

.links {
  margin-top: 5rem;
}

.links img {
  max-height: 40px;
}

.jumbotron {
  background-image: url("images/BoysAndMe.jpg");
  height: 900px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .jumbotron {
    height: 400px;
  }
 }
 footer{
   font-size:80%;
   font-style: italic;
   clear: both;
 }
 footer i{
   float:right;
   margin-left: 5px;
 }
