html {
  /* background-color: #333; */
  font-size: 20px;
}
body{
  padding-top: 4.5rem;
}

.personal {
  padding-bottom: 20px;
}

/* .carousel{
  height: 600px;
} */

.links {
  /* margin-top: 5rem; */
}

.links img {
  height: 40px;
}

.jumbotron {
  background-image: url("images/BoysAndMe.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .jumbotron {
    height: 300px;
  }

 }
 footer{
  /* color:white; */
   font-size:80%;
   font-style: italic;
   clear: both;
   padding-bottom: 15px;
 }

 /* .space{
   padding: 50px;
 } */
